.dropdown-item{
    line-height: 40px !important;
}

.dropdown-menu{
    border: none !important;
    background: #0f2d28!important;
    border-radius: 3px !important;
}

h2{
    font-size: 64px;
    letter-spacing: -1.5px;
    line-height: 1;
    font-weight: 400;
}

h3{
    font-size: 48px;
    letter-spacing: -1.5px;
    line-height: 1;
    font-weight: 400;
}


.change-bg-color{
    background-color: var(--green-haze) !important;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f343361; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0a1714; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d2e2aa8; 
  }

  ::-moz-selection { /* Code for Firefox */
    color: #0a1714; 
    background: #27484037;
  }
  
  ::selection {
    color: #0a1714; 
    background: #27484037;
  }

  .scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px !important;
    height: 8px;
    background: #0a1714 !important; 
    border-radius: 0 !important;
}

.scrollbar-track-y {
    top: 0;
    right: 0;
    width: 6px !important;
    height: 100%;
    background: #2f343361 !important;
}



:root{
    --pampas-white: #E5E3DA;
    --green-haze: #16413A;
    --salomie: #f2d06d;
    --valencia: #d03f4e;
    --royal-blue: #3e5e8c;
    --pure-black: #000000;
    --pure-white: #ffffff;

}


.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate( 
0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate( 
0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate( 
0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate( 
0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-40%, -50%) !important;
}


.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(
0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(
0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1, .animated-icon2, .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        }
        
        .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        }
        
        .animated-icon1 span {
        background: var(--pampas-white);
        }
        
        .animated-icon2 span {
        background:var(--pampas-white);
        }
        
        .animated-icon3 span {
        background:var(--pampas-white);
        }
        
        .animated-icon1 span:nth-child(1) {
        top: 0px;
        }
        
        .animated-icon1 span:nth-child(2) {
        top: 5px;
        }
        
        .animated-icon1 span:nth-child(3) {
        top: 20px;
        }
        
        .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        }
        
        .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
        }
        
        .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        }

        .navbar-toggler:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 0;
        }

        .animated-icon1 span:nth-child(2) {
            top: 10px;
            height: 2px;
        }


.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--pampas-white);
    z-index: 10;
    overflow: hidden;
}

#preloader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading-symbol {
    width: max-content;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading-symbol-box {
    background:var(--pampas-white);
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 15;
  }

.loading-paragraph{
    font-weight: bold;
    margin-top: 20px;
    top: 40%;
    left: 50%;
}

.intro-content{
    z-index: 14;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.headline-container span{
    display: inline-block;
    overflow: hidden;
}


h4{
    letter-spacing: -0.8px;
}

h2 span{
    display: inline-block;
    overflow: hidden;
    height: 70px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

body{
    background-color: var(--pampas-white);
    transition: background-color 1s ease;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

.fixed-position {
    position: fixed;
 }

.remove-padding{
    padding: 0 !important;
}

.section-padding{
    padding: 0 2%;
}

.header-section{
    background-color: var(--green-haze);
}

.contact-tel-email{
    color: #ffffff;
    font-weight: bold;
    margin-right: 50px !important;
    float: left;
}

.header-section a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}

.header-section a:hover{
    color: #ffffff;
    text-decoration: underline;
}


.header-above{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:20px 0;
}

.btn-primary-header{
    color: #ffffff;
    margin: 0px 5px;
    padding: 5px 20px;
    border: 0.5px solid rgba(135, 135, 135, 0.537);
    background-color: transparent;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

.btn-primary-header:hover{
    color: #ffffff;
    margin: 0px 10px;
    padding: 5px 20px;
    border: 0.5px solid rgba(135, 135, 135, 0.66);
    background-color: rgba(135, 135, 135, 0.449);
    border-radius: 25px;
    transition: all .3s ease-in-out;
}



.dropdown-item:hover {
    background-color: rgb(246 246 246 / 7%);
    border-radius: 3px;
    text-decoration: none !important;
}

.login-circle::before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 1px;
    background-color: #fff;
    display: inline-block;
}

.nav-link-ltr{
    color: #ffffff;
    margin-left: 15px;
}

.nav-link-ltr:focus{
    color: #ffffff;

}
.navbar-content {
    justify-content: flex-end;
 }
.only-collapsed{
    display: none;
}
.collapsing {
    transition: none !important;
  }


  .nav-item:hover{
      text-decoration: none !important;
  }
  .nav-link:hover{
      text-decoration: none !important;
  }

  .link-plus {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);}

.text-rotate-plus:hover .link-plus {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg) scale(1.5);
    -moz-transform: rotate(180deg) scale(1.5);
    -o-transform: rotate(180deg) scale(1.5);
    -ms-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
}

.dropdown-chevron-up{
    transition: 0.70s !important;
    -webkit-transition: 0.70s !important;
    -moz-transition: 0.70s !important;
    -ms-transition: 0.70s !important;
    -o-transition: 0.70s !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.dropdown-chevron-down{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#dropdown-icon{
    transition: all 0.70s;
}
#dropdown-icon2{
    transition: all 0.70s;
}



.nav-item span{
    display: inline-block;
    overflow: visible;
    width: 100%;
    border-bottom: none;
}


  @media (max-width: 992px) {


    .nav-item > span{
        width: 100%;
        border-bottom: 1px solid #ffffff14;
    }


    .nav-item span{
        display: inline-block;
        overflow: hidden;
        width: 100%;

    }

    .navbar-padding {
        padding: 0 2%;

    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 3vw;
    }

    .navbar-content {
        height: calc(100vh - 100px);
        justify-content: flex-start;
    }


   .only-collapsed {
    display: block;
    padding-top: 5vw;
}

    .collapsed-buttons button{
        padding: 5px 10px;
    }

    .collapsed-contact {
        padding-top: 5vw;
        display: flex;
        flex-direction: column;
    }

    .collapsed-buttons{
        display: flex;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
 
        
        font-size: 24px;

    }
    
    .nav-link-ltr {
        color: #ffffff;
        margin: 0px !important;
    }
}

.nav-item:focus{
    text-decoration: none;
}

.btn:focus{
    box-shadow: none;
}

.navbar-toggler {
    background-color: #ffffff14 !important;
    z-index: 2;
    border-radius: 50%;
    width: 60px;
    padding: 30px;
    height: 60px;
}

.navbar{
    padding-top:20px;
    padding-bottom:20px;
}

.dropdown-toggle::after {
    display: none;
}


.dropdown-menu {
    justify-content: center;
    position: absolute;
    z-index: 9999999999999999999;
    display: none;
    min-width: 20px;
    padding: 10px;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    flex-direction: column;
}

.header-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.nav-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.bg-video{
    display: flex;
    position: relative;
}

.bg-video:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.272);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .vid{
    object-fit: cover;
    height: 70vh;
  }

  .info-row div{
      display: flex;
      color: #fff;
      background-color:var(--green-haze);
      align-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
  }
  .info-row p{
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -3%;
  }

  .info-row span{
      font-weight: bold;
      font-size: 24px;
  }

  .info-row a{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-underline-offset: var(--offset, 1px);
    text-decoration: underline 0.15em;
    transition: --offset 400ms, text-decoration-color 400ms;
}


.info-row a:hover{
    color: var(--pampas-white);
    font-weight: bold;
    font-size: 18px;
    --offset: 4px;
    text-decoration-color: var(--pampas-white);
}



#second-info-block{
    border-right: 0.5px solid rgba(135, 135, 135, 0.66);;
    border-left: 0.5px solid rgba(135, 135, 135, 0.66);;
}

.headline-container{
    z-index: 8;
    display: flex;
    position: absolute;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.headline-container h1{
    letter-spacing: -3px;
    font-weight: 200;
    color: #fff;
    font-size: 96px;
    padding-left: 40px;
    line-height: 1 !important;
}

.third-section .col-md-4{
    display: flex;
    flex-direction: column;
}

.third-section .col-md-4 span{
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.third-section .col-md-4 p{
    color: #000000;
    font-size: 14px;
}


.btn-shop{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: var(--green-haze);
    padding: 20px 40px;
    border-radius: 3px;
}

.btn-shop:hover{
    color: #fff;
    background-color: var(--green-haze);
    padding: 20px 40px;
}

p{
    font-size: 14px;
}


.qualities{
    background-color: #C9CEC9;
    padding: 20px;
    margin-bottom: 20px;
}

.qualities h4{
    margin-bottom: 20px;
}

.qualities img{
    height: 66px;
    width: 66px;
    border-radius: 50%;
    background-color: var(--pampas-white);
    padding: 15px;
    margin-bottom: 30px;
}


.products-section p{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -3%;
}

.products-section span{
    font-weight: bold;
    font-size: 14px;
}

.first-col{
    display: flex;
    flex-direction: column;
}


  
  .logo-carousel {
    background: var(--pampas-white);
  }

  
  .logo-carousel-image {
    background-color: #ffffff40;
    object-fit: scale-down;
    display: block;
    min-width: 400px;
    max-width: 400px;
    max-height: 106px;
    min-height: 106px;
    margin: 0 10px;
  }
  
  .carousel.is-fullscreen .logo-carousel-image {
    height: auto;
    max-height: 100%;
  }


 .tb-section-padding{
     padding-top: 5%;
     padding-bottom: 5%;
 }

.partners-section span{
    font-weight: bold;
    font-size: 14px;
}

.partners-section p{
    font-weight: 400;
    font-size: 14px;
}

.company-news-section{
    background-color: var(--green-haze);
    color: #fff;
    overflow: hidden;
    scroll-snap-type: y proximity;
    
}

.company-news-container{
    scroll-snap-align: start;
}

.company-news-section span{
    font-weight: bold;
    font-size: 14px;
}

.company-news-section p{
    font-weight: 400;
    font-size: 14px;
}

.news{
    display: flex;
    justify-content: space-between;
}

.breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.black-breakline{
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 5%;
}

.news-blog{
    padding-top: 2%;
    padding-bottom: 4%;
}

.news-breakline{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.info-carousel p{
    color: #ffffff70;
    font-size: 12px;
}

.flickity-button{
    visibility: hidden;
}



.button--next{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}


.button--previous{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 5px;
    transition: all .3s ease-in-out;
}

.button--next:hover{
    background-color: rgba(135, 135, 135, 0.449);
    transition: all .3s ease-in-out;
}

.button--previous:hover{
    background-color: rgba(135, 135, 135, 0.449);
    transition: all .3s ease-in-out;
}


.reveal {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height: 100%;
    background: var(--pampas-white) !important;
}

.news-carousel{
    min-height: 100%;
    width: 100%;
    height: 100%;
}


.carousel-cell {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 20px;
    padding-left: 10px;
    border-left: 1px solid #ffffff40;
}

.carousel-cell img{
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-cell p{
    font-size: 12px;
    color:#ffffff70;
    font-weight: 300;
    padding-top: 15px;
}

.carousel-cell h4{
    font-size: 25px;
    color:#ffffff;
    font-weight: 300;
    margin-bottom:35px;
    padding-top: 15%;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

.carousel-cell a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.footer-graphic{
    position: static;
    background-image: url(../img/footer-graphic.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 70px;
}


.contact-col span{
    font-size: 14px;
    font-weight: bold;
}

.contact-col p{
    font-size: 14;
    font-weight: normal;
    margin: 0;
}

.contact-col a:hover{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #000;
    transition: all .1 ease-in-out;
    text-decoration: none;
}

.contact-col a{
    font-size: 14px;
    font-weight: medium;
    line-height: 2.1;
    color: #000;
    transition: all .1 ease-in-out;
    text-decoration: none;
}

.contact-col-1{
    display: flex;
    flex-direction: column;
}

.contact-col-1 span{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem!important;
}

.contact-col-1 a {
    font-size: 14px;
    color: #000;
    line-height: 2.1;
    text-decoration: none;
}

.contact-col-1 a:hover{
    font-size: 14px;
    color: #000;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-decoration: none;
}

.footer-categories {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 20%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25%;
}

.last-row{
    padding-top: 6%;
}

.last-row span{
    font-size: 14px;
    font-weight: bold;
}

.last-row a{
    font-size: 14px;
    font-weight: bold;
    color: var(--green-haze);
}

.last-row a:hover{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--green-haze);
}


.container-fluid-right{
    margin-right: 0;
    padding-right: 0;
    max-width: none;
    width: 100vw;
}

.social-media-footer{
    float: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

@media screen and ( min-width: 768px ){
    .nav-link:before {
        content: '';
        position: absolute;
        width: 75%;
        height: 1.5px;
        bottom:0;
        margin: 0 auto;
        left: 20px;
        padding-left: .5rem;
        background-color: #ffff;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
      }
      .nav-link:hover:before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    

    .circle {
        position: absolute;
      background-color:#215145;
      opacity:0.4;
        width: 24px !important; 
        height: 24px !important; 
      border-radius: 50%;  
      z-index: 999999;
      pointer-events: none !important;
    }


    .qualities-section{
        min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products-section{
        min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .company-news-section{
        min-height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    

    .reveal {
        display: inline-block;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: 100%;
        background: var(--pampas-white) !important;
    }

    .breakline{
        display: none;
    }

    .headline-container h1{
        font-size: 64px !important;
        letter-spacing: -2px;
        padding-left:0;
    }

    h2{
       font-size: 48px !important;
    }


    .logo-carousel-image {
        background-color: #ffffff40;
        object-fit: scale-down;
        display: block;
        /* set min-width, allow images to set cell width */
        min-width: 250px;
        max-width: 250px;
        max-height: 106px;
        min-height: 106px;
        margin: 0 10px;
      }


      .carousel-cell {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-right: 20px;
        padding-left: 10px;
        border-left: 1px solid #ffffff40;
    }

    .picture-column-1{
        order: 1;
        margin-bottom: 25px;
    }

    .picture-column-2{
        order: 2;
        margin-bottom: 25px;
    }

    .text-column{
        order: 3;
    }


    #second-info-block{
        border-top: 0.5px solid rgba(135, 135, 135, 0.66);;
        border-bottom: 0.5px solid rgba(135, 135, 135, 0.66);;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    .header-above{
        display: none;
    }

    .header-breakline{
        display: none;
    }

    .circle{
        display: none;
    }
    
    .carousel-cell {
        margin-top: 20px ;
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-right: 20px;
        padding-left: 10px;
        border-left: 1px solid #ffffff40;
    }

    .tb-section-padding{
        padding-top:15%;
        padding-bottom:15%;
    }

    .social-media-footer{
        float: left !important;
        padding-top:20px;
    }

    .footer-logo{
        margin-bottom:20px !important;
    }

    .footer-categories{
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 8%;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 2%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}



.magnetic {
    margin: -100px;
    padding: 100px;
    display: inline-block;
    border-radius: 50%;
    /*border: 1px solid #000; //use this for debugging*/
  }

  .carousel-magnetic{
    margin: -40px;
    padding: 40px;
    display: inline-block;
    border-radius: 50%;
    width: fit-content;
    /*border: 1px solid #000; //use this for debugging*/
  }
  
  .my-button {
    background-color: #FFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .my-button:hover {
    color: #FFF;
    background-color: #000;
    transition: 0.5s background-color, 0.5s box-shadow;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.5);
  }
  